canvas{
    border:2px solid black;
    margin:auto;
    display:block;
    background-color:white;
}

.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centeredDiv{
    /* P ELEMENT*/
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color:#585252;
}

#game_container{
    width:100%;
    height: 50%;
}

#controls_container{
    top: 85%;
    display: block;
    height: 15%;
    width: 100%;
    position: fixed;
}

.leftButton{
    /*  ALIGN LEFT*/
    float: left;
    display: block;
    top: 50%;}
.rightButton{
    /*  ALIGN RIGHT*/
    float: right;
    display: block;
    top: 50%;

}
.upButton0{
    /*  ALIGN LEFT*/
    float: left;
    display: block;
    top: 50%;
}

.upButton1{
    float: right;
    display: block;
    top: 50%;
    /*  ALIGN RIGHT*/
}
button{
    width: 60px;
    height: 30px;
}

.buttonStyle{
    font-size: 16px;
    font-weight: 400;
}

.gameOverText {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
    font-family: "Arial Black";
}

.restartButton {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 50px;
}

.newGameButton {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
}

#highscore_container {
    width: 100%;
    font-size: large;
    font-family: Arial;
}

header{
    top: 0;
    width: 100%;
}

.headerButtons {
    width: 200px;
    height: 30px;
    display: inline-block;
}